% rebase('osnova.html')

<script>
function dodajOkno() {
    if($("#izbira").val()=="2"){
        label="Član"
    }
    else{
        label="Avtor"
    }
    vred=$("#obrazec div").length + 1; //Štetje že obstoječih polj
    document.getElementById("koliko").value=String(vred); //Da v spletnem vmesniku vemo koliko polj je potrebno obdelati
    console.log(vred)
    newName="vnos".concat(vred);
    vnosnoOkno=`<div class="form-group">
        <label for="exampleFormControlInput1"></label>
        ${label}<input type="text" class="form-control" id=${newName} name=${newName} placeholder=""/>
    </div>`
		$('#formContent').append(vnosnoOkno)
}




$(document).on('click', '#dodajGumb', function () {
    dodajOkno()
});

$(document).on('submit', function () {
    $("#koliko").val=String($("#obrazec div").length + 1);
});


function formaOseba(){
  $("#obrazec").empty();

  //$("#obrazec").load("osebaForm.html");
  
  //NE VEM ZAKAJ NOČE BRAT IZ DATOTEKE
  //TODO - BERI HTML IZ DATOTEKE
  
  var forma= `
    <div class="form-group">
      <label for="exampleFormControlInput1"></label>
        Ime<input type="text" class="form-control" id="vnos1" name="vnos1" placeholder=""/>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1"></label>
        Priimek<input type="text" class="form-control" id="vnos2" name="vnos2" placeholder=""/>
    </div>

    <div class="form-group">
    <label for="exampleFormControlInput1"></label>
        Datum Rojstva<input type="text" class="form-control" id="vnos3" name="vnos3" placeholder=""/>
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlInput1"></label>
        Spol<input type="text" class="form-control" id="vnos4" name="vnos4" placeholder=""/>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1"></label>
        Drzava<input type="text" class="form-control" id="vnos5" name="vnos5" placeholder=""/>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>`;

    $("#obrazec").append(forma)


    document.getElementById("izbira").value="1"
}

function formaArtist(){
    
    $("#koliko").val='5';
    forma=`<fieldset id="formContent">
<div class="form-group">
    <label for="exampleFormControlInput1"></label>
    Ime<input type="text" class="form-control" id="vnos1" name="vnos1" placeholder=""/>
</div>

<div class="form-group">
    <label for="exampleFormControlInput1"></label>
    Leto nastanka<input type="text" class="form-control" id="vnos2" name="vnos2" placeholder=""/>
</div>

<div class="form-group">
<label for="exampleFormControlInput1"></label>
    Drzava<input type="text" class="form-control" id="vnos3" name="vnos3" placeholder=""/>
</div>

<div class="form-group">
    <label for="exampleFormControlInput1"></label>
    Mesto<input type="text" class="form-control" id="vnos4" name="vnos4" placeholder=""/>
</div>

<input type="button" id="dodajGumb" value='Dodaj člana' class="btn btn-secondary btn-sm"/>

</fieldset>
<br/>
<input type="submit" value="Submit" class="btn btn-primary"/>`;
    $("#obrazec").empty();
    $("#obrazec").append(forma)
    document.getElementById("izbira").value="2"
}

function formaIzdaja(){
    $("#koliko").val='6';
    forma=`
    <fieldset id="formContent">
<div class="form-group">
    <label for="exampleFormControlInput1"></label>
    Naslov<input type="text" class="form-control" id="vnos1" name="vnos1" placeholder=""/>
</div>

<div class="form-group">
    <label for="exampleFormControlInput1"></label>
    Leto izida<input type="text" class="form-control" id="vnos2" name="vnos2" placeholder=""/>
</div>

<div class="form-group">
<label for="exampleFormControlInput1"></label>
    Celotna dolzina<input type="text" class="form-control" id="vnos3" name="vnos3" placeholder=""/>
</div>

<div class="form-group">
    <label for="exampleFormControlInput1"></label>
    Tip<input type="text" class="form-control" id="vnos4" name="vnos4" placeholder=""/>
</div>

<div class="form-group">
    <label for="exampleFormControlInput1"></label>
    ID Zalozbe<input type="text" class="form-control" id="vnos5" name="vnos5" placeholder=""/>
</div>

<input type="button" id="dodajGumb" value='Dodaj avtorja' class="btn btn-secondary btn-sm"/>

</fieldset>
<br/>
<input type="submit" value="Submit" class="btn btn-primary"/>
    `;
    $("#obrazec").empty();
    $("#obrazec").append(forma)

    document.getElementById("izbira").value="3"
}





</script>

<div class="container">                                       
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Kaj dodajaš?
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" onclick="formaOseba()">Dodaj osebo</a>
        <a class="dropdown-item" href="#" onclick="formaArtist()">Dodaj artista</a>
        <a class="dropdown-item" href="#" onclick="formaIzdaja()">Dodaj izdajo</a>
      </div>
    </div>
  </div>

<div class="container">
<form method="POST">
    <input type="hidden" name="izbira" id="izbira"/>
    <input type="hidden" name="koliko" id="koliko"/>
    <div class="container" id="obrazec">

    </div>
    
</form>
</div>








