% rebase('osnova.html')
<script>
  function myFunction() {
        if(document.getElementById("radios-1").checked){
          document.getElementById("searchinputAlt").style.display="block"
        }
        else{
          document.getElementById("searchinputAlt").style.display="none"
        }
    }
  </script>
<form class="form-horizontal">
    <!-- TODO: dinamičen izpis forme glede na izbiro radio buttona (javascript)-->
    
    <fieldset>
    
    <!-- Form Name -->
    <legend>Iskanje po bazi</legend>
    
    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <div class="col-md-4"> 
        <label class="radio-inline" for="radios-0">
          <input type="radio" name="izbira" id="radios-0" value="1" checked="checked" onclick="myFunction()">
          Artist
        </label> 
        <label class="radio-inline" for="radios-1">
          <input type="radio" name="izbira" id="radios-1" value="2" onclick="myFunction()">
          Oseba
        </label> 
        <label class="radio-inline" for="radios-2">
          <input type="radio" name="izbira" id="radios-2" value="3" onclick="myFunction()">
          Izdaja
        </label> 
      </div>
    </div>
    
    <!-- Search input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="searchinput">Search Input</label>
      <div class="col-md-4">
        <input id="searchinput" name="iskaniNiz" type="search" placeholder="Iskano ime" class="form-control input-md" value="">
        <input id="searchinputAlt" name="iskaniNizAlt" type="search" placeholder="Iskan priimek" class="form-control input-md" value="" style="display:none">
      </div>
      <input type="submit" value="Submit">
    </div>
    
    </fieldset>
</form>


<table class="table">
  %if izbira=='1':
    <tr>
      <td>ime</td>
      <td>leto_nastanka</td>
      <td>drzava</td>
      <td>mesto</td>
    </tr>
    %for artist in podatki:
    <tr>
        <td>{{artist.ime}}</td>
        <td>{{artist.leto_nastanka}}</td>
        <td>{{artist.drzava}}</td>
        <td>{{artist.mesto}}</td>
    </tr>
    % end
  % end

  %if izbira=='2':
    <tr>
      <td>ime</td>
      <td>priimek</td>
      <td>datumRojstva</td>
      <td>spol</td>
      <td>drzava</td>
    </tr>
    %for oseba in podatki:
    <tr>
        <td>{{oseba.ime}}</td>
        <td>{{oseba.priimek}}</td>
        <td>{{oseba.datumRojstva}}</td>
        <td>{{oseba.spol}}</td>
        <td>{{oseba.drzava}}</td>
    </tr>
    % end
  % end


  %if izbira=='3':
    <tr>
      <td>naslov</td>
      <td>leto_izida</td>
      <td>celotnaDolzina</td>
      <td>mesto</td>
      <td>tip</td>
      <td>idZalozbe</td>
    </tr>
    %for izdaja in podatki:
    <tr>
        <td>{{izdaja.naslov}}</td>
        <td>{{izdaja.leto_izida}}</td>
        <td>{{izdaja.celotnaDolzina}}</td>
        <td>{{izdaja.tip}}</td>
        <td>{{izdaja.idZalozbe}}</td>
    </tr>
    % end
  % end
</table>
    