% rebase('osnova.html')

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>{{podatki.naslov}}</h1>
            <h4>Avtor:
            % from pomozneFunkcije import sekunde_v_format
            %avtorji=podatki.vrni_Avtorje()
            %dolz=len(avtorji)
            %for id,ime in avtorji:
                <a href="/artist/{{id}}">{{ime}}</a>
                %if dolz!=1:
                ,
                %dolz-=1
                %end
            %end
            </h4>
            Leto_izida: {{podatki.leto_izida}} <br>
            CelotnaDolzina: {{sekunde_v_format(podatki.celotnaDolzina)}} <br> 
            Tip: {{podatki.tip}}<br>
            Zvrsti:
            %zanriTemp=podatki.vrni_zanre()
            %dolz=len(zanriTemp)
            %for id,ime in zanriTemp:
                {{ime}}
                %if dolz!=1:
                ,
                %dolz-=1
                %end
            %end
            <br/>
            IdZalozbe: {{podatki.idZalozbe}} <br>
        </div>
            
        <div class="col">
            <br>
            <form method="POST">
                <label>Dodaj avtorja:</label>
                <div class="row">
                    <div class="col">
                        <select type="text" class="form-control" id="id" name="izbraniArtist">
                            %for id,ime,drzava in podatki.vrni_mozne_avtorje():
                            <option value="{{id}}">{{ime}}, {{drzava}} (ID:{{id}})</option>
                            %end
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="submit" name="gumb" value="Dodaj avtorja" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
            <br>
            <form method="POST">
                <div class="form-group" >
                    <label>Dodaj zvrst:</label>
                    <div class="row">
                        <div class="col">
                            <select type="text" class="form-control" id="id" name="izbraniZanr">
                                %for id,ime in podatki.vrni_mozne_zanre():
                                <option value={{id}}>{{ime}} ({{id}})</option>
                                %end
                            </select>
                        </div>
                        <div class="col-2">
                            <input type="submit" name="gumb" value="Dodaj zvrst" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
        <div class="col">
            <form method="POST">
                <button type="submit" name="gumb" value="briši" class="btn btn-danger float-right">Briši zapis</button>
            </form>
        </div>
        
    </div>
</div>


<div class="container-fluid">
    <br>
    <table class="table">
        <h4>Seznam skladb v izdaji:</h4>
        <thead>
            <tr>
                <th>Tracklist</th>
                <th>Naslov</th>
                <th>Dolzina</th>
                <th>Briši</th>
            </tr>
        </thead>
        <form method="POST">
            % from pomozneFunkcije import sekunde_v_format
            % i=1
            % for idTrack,naslov,dolzina in podatki.vrni_Tracklist():
            <tr>
                <td>{{i}}</td>
                <td>{{naslov}}</td>
                <td>{{sekunde_v_format(dolzina)}}</td>
                <td><button class="btn btn-danger" type="submit" name="brisanID" value={{idTrack}}>X</button></td>
            </tr>
            % i+=1
            % end
        </form>
    </table>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <form method="POST">
                <fieldset>
                    <div class="form-group" >
                        <div class="row">
                            <div class="col">
                                <label>Dodaj novo skladbo:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="naslov" name="naslov" placeholder="Naslov skladbe"/>
                            </div>
                            <div class="col-6">
                                <input type="time" step="1" class="form-control" id="dolzina" name="dolzina"/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <input type="submit" name="gumb" value="Dodaj skladbo" class="btn btn-primary"/>
            </form>
        </div>
    <div class="col"></div>
    </div>
<br/>
</div>

<div class="container-fluid">
    <h4>Ustvarjalci, ki so sodelovali:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Vloga</th>
            </tr>
        </thead>
        % for id, ime, priimek, vloga in podatki.vrni_Sodelujoce():
        <tr>
            <td><a href="/oseba/{{id}}">{{ime}} {{priimek}}</a></td>
            <td>{{vloga}}</td>
        </tr>
        % end
    </table>
</div>
