% rebase('osnova.html')

<div>
ID: {{podatki.id}} <br>
Avtor: 
%avtorji=podatki.vrni_Avtorje()
%dolz=len(avtorji)
%for id,ime in avtorji:
     <a href="/artist/{{id}}">{{ime}}</a>
     %if dolz!=1:
     ,
     %dolz-=1
     %end
%end

<br>

Naslov: {{podatki.naslov}} <br>
Leto_izida: {{podatki.leto_izida}} <br>
CelotnaDolzina: {{podatki.celotnaDolzina}} <br> 
Tip: {{podatki.tip}}<br>
IdZalozbe: {{podatki.idZalozbe}} <br>
</div>

<div>
    <br>
    <table class="table">
    <tr>
        <th>Tracklist</th>
        <th>Naslov</th>
        <th>Dolzina</th>
        </tr>
    % i=1
    % for naslov,dolzina in podatki.vrni_Tracklist():
    <tr>
        <td>{{i}}</td>
        <td>{{naslov}}</td>
        <td>{{dolzina}}</td>>
    </tr>
    % i+=1
    % end
    </table>
    
</div>

<div>
    <table class="table">
        <thead>
            Ustvarjalci, ki so sodelovali:
        </thead>
        <tr>
            <th>Ime</th>
            <th>Vloga</th>
        </tr>
        % for id, ime, priimek, vloga in podatki.vrni_Sodelujoce():
        <tr>
            <td><a href="/oseba/{{id}}">{{ime}} {{priimek}}</a></td>
            <td>{{vloga}}</td>
        </tr>
        % end
    </table>
</div>
