% rebase('osnova.html')

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form method="POST">
                <button type="submit" name="submit" value="brisi" class="btn btn-danger float-right">Briši zapis</button>
            </form>
            <h2>{{podatki.ime}} {{podatki.priimek}}</h2>
            ID: {{podatki.id}}<br> 
            Datum Rojstva: {{podatki.datumRojstva}}<br> 
            Spol: {{podatki.spol}}<br>
            Drzava: {{podatki.drzava}}<br>
        </div>
    </div>
</div>

<div>
<br>

<table class="table">
    <thead>
        <th>Je član</th>
    </thead>
%for a,b in podatki.clan():
<tr>
    <td><a href="/artist/{{a}}">{{b}} ({{a}})</a></td>
</tr>

%end
</table>
</div>




