% rebase('osnova.html')

<script>
    function beriVrednost1(){
        var izbira=document.getElementById("izbiraDrzave").value
        var trenutnoIzbrane=document.getElementById("drzave").value
        var temp=trenutnoIzbrane+izbira+','
        document.getElementById("drzave").value=temp
        feedback1()
    }

    function beriVrednost2(){
        var izbira=document.getElementById("izbiraUstvarjalcev").value
        var trenutnoIzbrane=document.getElementById("ustvarjalci").value
        var temp=trenutnoIzbrane+izbira+','
        document.getElementById("ustvarjalci").value=temp
        console.log(temp)
        feedback2()
    }

    function feedback1(){
        temp=document.getElementById("izbiraDrzave").value
        document.getElementById("feedbackZaDrzavo").innerHTML=' '+temp+' ADDED'
    }

    function feedback2(){
        temp=document.getElementById("izbiraUstvarjalcev").value
        document.getElementById("feedbackZaUstvarjalca").innerHTML=' '+temp+' ADDED'
    }
</script>

<div class="container-fluid">
    <br>
    <h1 style="text-align: center;">USTVARI NAKLJUČNO PLAYLISTO, GLEDE MA ŽELJENE PARAMETRE</h1>
    <br>
    <br>
</div>
<div class="container-fluid">
    <form method="POST">
        <div class="row"></div>
            <h4>Izberi željene zvrsti:</h4>
            <br>
            <br>
        </div>
        <div class="row">
            <form method="POST">
                % i = 0
                % j = 0
                % dolz = len(zanri)
                % for stolp in range(5):
                <div class="col">
                    % while i < dolz // 4 and zanri:
                        % id, ime = zanri.pop(0)
                        % i += 1
                        % j += 1
                        % ajdi="gumb"+str(j)
                        % ukaz = "flip({})".format(ajdi)
                        % novo_ime = "izbiraZvrst"+str(i)
                        <div class="form-group">
                            <input type="checkbox"  id={{ajdi}} name={{novo_ime}} value={{id}}>
                            <label for={{ajdi}}>{{ime}}</label>
                        </div>
                    % end
                    % i = 0
                </div>
                % end
                
            </form>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col">
            <h4>Izberi željen izvor glasbe:</h4>
            <form method="POST">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Države</label>
                    <select type="text" class="form-control" id="izbiraDrzave" name="izbiraDrzave" placeholder="Id" value="">
                        % for drzava in artist.vrni_Drzave():
                        %    drz=drzava[0]
                            <option value="{{drz}}">{{drz}}</option>
                        %end
                    </select>
                    
                </div>
                
            </form>
            <div class="form-group">
                <button type="button" class="btn btn-secondary btn-sm" onclick="beriVrednost1()">Dodaj drzavo</button>
                <label id="feedbackZaDrzavo"></label>
            </div>
        </div>
        <div class="col">
            <h4>Izberi željene ustvarjalce:</h4>
            <form method="POST">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Ustvarjalci</label>
                    <select type="text" class="form-control" id="izbiraUstvarjalcev" name="izbiraUstvarjalcev" placeholder="Id" value="">
                        % for idArtist,ime,_ in artist.vrni_spisek_artistov():
                            <option value="{{idArtist}}">{{ime}}</option>
                        %end
                    </select>
                    
                </div>
                
            </form>
            <div class="form-group">
                <button type="button" class="btn btn-secondary btn-sm" onclick="beriVrednost2()">Dodaj ustvarjalca</button>
                <label id="feedbackZaUstvarjalca"></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>

        <div class="col">
            <form method="POST">
            <button type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">GENERIRAJ</button>
            <input type="hidden" id="drzave" name="drzave" value="">
            <input type="hidden" id="ustvarjalci" name="ustvarjalci" value="">
            </form>
        </div>

        <div class="col">
            
        </div>
    </div>
</div>



<br>
<br>



% if podatki:
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Naslov skladbe</th>
                <th>Dolžina</th>
                <th>Izdaja</th>
            </tr>
        </thead>
        <tbody>
            % i = 0
            % for id, naslov, dolzina, izdaja, ime_izd in podatki:
                % i += 1
            <tr>
                <td style="width: 10%;">{{i}}</td>
                <td style="width: 35%;">{{naslov}}</td>
                <td style="width: 20%;">{{dolzina}}</td>
                <td style="width: 35%;"><a href="/izdaja/{{izdaja}}">{{ime_izd}}</td>
            </tr>
            % end
        </tbody>
    </table>
</div>
% end

