% rebase('osnova.html')

<div class="container-fluid">
    <br>
    <h1 style="text-align: center;">Ustvari naključno playlisto, glede na željene parametre!</h1>
    <br>
</div>
<div class="container">
    <form method="POST">
        <div class="row">
            <div class="col-sm text-center">
                <h4>Izberi željene zvrsti:</h4>
            </div>
            <div class="col-sm text-center">
                <h4>Izberi željen izvor glasbe:</h4>
            </div>
            <div class="col-sm text-center">
                <h4>Izberi željene ustvarjalce:</h4>
            </div>
        </div>
    </form>    
</div>

